<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="  text-center container-fluid" style="padding:90px 0;">
        <h1>
          Grocery Management
        </h1>
        <p>Grocery at your door steps!!</p>
      </div>
    
    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <img src="./assets/images/home.jpeg"
             class="img-responsive"
             style="max-height:300px;padding-bottom:50px;padding-top: 36px;" />
      </div>
    </div>
  </div>
</div>
<hr class="bg-info" style="height: 10px; margin: 0;background-color: #b83c17!important;" >
<div class="container-fluid">
<div class="bg-dark row" style="padding: 50px 180px;background-color: #403a3408!important;">
  <div class="row" style="width: 100% !important;">
    <div style="width: 40% !important;">
      <h3>Developed by: </h3>
    </div>
      <div class="text-center">
      <h3>Lipsy Singla</h3>
    </div>
  </div>
</div>
</div>